.swiper-slide {
    width: 100vw;
    // width: 100%;
}

// прячем прокрутку
// html {
//     // overflow: scroll;
//     // overflow-x: hidden;
// }
::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    background: transparent;
    position: fixed;
}

.carousel__slides {
    transition: transform 0.3s ease;
}
.carousel__swiper {
    transition: transform 0.3s ease;
}

.swiper-slide-visible {
    max-width: 480px;
    width: min(480px, max(35vw, 315px));
    transition-duration: 350ms;
    @media (max-width: 767px) {
        // width: min(315px, max((100vw / 767) * 315, 150px));
        width: 100%;
    }
}

.third .accordion-content::before {
    height: 0;
}

.third .accordion-box.accordion-box_active .accordion-content::before {
    height: 90%;
    transition: height .4s;
}


@media (max-width: 1199.98px) {

    .fadeIn--open .header__menu {
        top: 0;
    }
}
