.swiper-slide {
    width: 100vw;
}

// прячем прокрутку
::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    background: transparent;
    position: fixed;
}

.carousel__swiper {
    transition: transform 0.3s ease;
}

.swiper-slide-visible {
    max-width: 480px;
    transition-duration: 350ms;
}

.third .accordion-content::before {
    height: 0;
}

.third .accordion-box.accordion-box_active .accordion-content::before {
    height: 90%;
    transition: height .4s;
}


@media (max-width: 1199.98px) {

    .fadeIn--open .header__menu {
        top: 0;
    }
}
